@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2 p-4">Welcome to Learning Tool</h1>
    <p class="display-4 p-4">Make your learning process easier</p>
    <p class="display-4 p-4">Create new definitions that you would like to learn</p>
    <a class="btn btn-lg btn-success m-3" asp-action="Index", asp-controller="Definitions">
        Get started!
    </a>
</div>
